<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.Leads.VerifyCreateLeadPage"/>
      <class name="com.crm.Contacts.VerifyCreateContactPage"/>
      <class name="com.crm.Dashboards.VerifyNewDashboardPage"/>
      <class name="com.crm.Accounts.VerifyCreateAccountPage"/>
      <class name="com.crm.Campaign.VerifyCreateCampaignPage"/>
      <class name="com.crm.Quotes.VerifyQuotesTab"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
